Repository yokharian/hidock-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8-desktop-app, pytest-desktop-app, eslint-web-app, eslint-audio-insights, typescript-web-app, test-web-app

flake8-desktop-app:
  name: Flake8 - Desktop App
  entry: bash -c 'cd hidock-desktop-app && if [ -d .venv ]; then .venv/Scripts/python -m flake8 . || .venv/bin/python -m flake8 .; else echo "No .venv found in hidock-desktop-app, skipping flake8"; fi'
  language: system
  pass_filenames: false

pytest-desktop-app:
  name: Python Tests - Desktop App
  entry: bash -c 'cd hidock-desktop-app && if [ -d .venv ]; then (.venv/Scripts/python -m pytest tests/ -x || .venv/bin/python -m pytest tests/ -x) 2>/dev/null || echo "No tests found or pytest not installed"; else echo "No .venv found, skipping tests"; fi'
  ...

eslint-web-app:
  name: ESLint - Web App
  entry: bash -c 'cd hidock-web-app && if [ -d node_modules ]; then npm run lint; else echo "No node_modules found in hidock-web-app, skipping eslint"; fi'
  language: system
  pass_filenames: false

eslint-audio-insights:
  name: ESLint - Audio Insights Extractor
  entry: bash -c 'cd audio-insights-extractor && if [ -d node_modules ]; then npm run lint || echo "No lint script found, skipping"; else echo "No node_modules found in audio-insights-extractor, skipping eslint"; fi'
  language: system
  pass_filenames: false

typescript-web-app:
  name: TypeScript Check - Web App
  entry: bash -c 'cd hidock-web-app && if [ -d node_modules ]; then npm run build --if-present || echo "Build script not found"; else echo "No node_modules found, skipping TypeScript check"; fi'
  language: system
  pass_filenames: false
  stages:
  - push

test-web-app:
  name: Tests - Web App
  entry: bash -c 'cd hidock-web-app && if [ -d node_modules ]; then npm test -- --run 2>/dev/null || echo "No tests configured"; else echo "No node_modules found, skipping tests"; fi'
  language: system
  pass_filenames: false
  stages:
  - push

enhance: Expand pre-commit hooks with comprehensive checks
  .gitignore
  .pre-commit-config.yaml
  setup-precommit.bat
  setup-precommit.sh
Due: none

fix: Remove unused imports from Python files
  .claude/settings.local.json
  hidock-desktop-app/ai_service.py
  hidock-desktop-app/audio_player_enhanced.py
  hidock-web-app/src/test/deviceService.test.ts
  hidock-web-app/src/utils/mockData.ts
Due: flake8-desktop-app, pytest-desktop-app, eslint-web-app, typescript-web-app, test-web-app

fix: Update line length limit from 79 to 120 characters
  .claude/settings.local.json
  .pre-commit-config.yaml
  hidock-desktop-app/ai_service.py
  hidock-desktop-app/audio_player_enhanced.py
  hidock-desktop-app/pyproject.toml
Due: flake8-desktop-app, pytest-desktop-app

fix: Resolve critical undefined names and clean up unused imports
  .claude/settings.local.json
  hidock-desktop-app/audio_processing_advanced.py
  hidock-desktop-app/audio_visualization.py
  hidock-desktop-app/desktop_device_adapter.py
  hidock-desktop-app/device_interface.py
  hidock-desktop-app/enhanced_device_selector.py
  hidock-desktop-app/flake8_issues.txt
  hidock-desktop-app/gui_actions_file.py
  hidock-desktop-app/gui_event_handlers.py
  hidock-desktop-app/gui_main_window.py
  hidock-desktop-app/tests/test_device_communication.py
  hidock-desktop-app/transcription_module.py
Due: flake8-desktop-app, pytest-desktop-app

fix: Resolve all TypeScript unused variable errors
  .claude/settings.local.json
  hidock-web-app/src/adapters/webDeviceAdapter.ts
  hidock-web-app/src/components/AudioRecorder/index.tsx
  hidock-web-app/src/components/AudioVisualization/index.tsx
  hidock-web-app/src/components/FileManager/index.tsx
  hidock-web-app/src/components/FileUpload/index.tsx
  hidock-web-app/src/components/Layout/Header.tsx
  hidock-web-app/src/components/MobileFileManager/index.tsx
  hidock-web-app/src/components/StorageManager/index.tsx
  hidock-web-app/src/components/Toast.tsx
  hidock-web-app/src/services/geminiService.ts
  hidock-web-app/src/store/useAppStore.ts
Due: eslint-web-app, typescript-web-app, test-web-app

fix: Resolve all Python style violations (E203, E722, E228, F541)
  hidock-desktop-app/audio_processing_advanced.py
  hidock-desktop-app/audio_visualization.py
  hidock-desktop-app/enhanced_device_selector.py
  hidock-desktop-app/enhanced_gui_integration.py
  hidock-desktop-app/gui_actions_device.py
  hidock-desktop-app/gui_event_handlers.py
  hidock-desktop-app/hidock_device.py
  hidock-desktop-app/storage_management.py
  hidock-desktop-app/tests/test_audio_player.py
Due: flake8-desktop-app, pytest-desktop-app

feat: Configure linting to ignore test files and fix remaining issues
  .claude/settings.local.json
  .github/3_139b2b8c-18da-440d-9559-562711e2fe43.jpeg
  .github/70904b39-a522-41f7-ad7c-39369a05ffa6
  .github/CODE_OF_CONDUCT.md
  .github/FUNDING.yml
  .github/de09b7f0-bc06-4bc0-8568-16fc20e86f0a
  .github/f4a86120-810f-4cd9-9942-6906fcd32c54
  .github/labeler.yml
  .github/social_preview.png
  .github/workflows/labeler.yml
  hidock-desktop-app/.flake8
  hidock-desktop-app/audio_visualization.py
  hidock-desktop-app/gui_actions_device.py
  hidock-desktop-app/gui_actions_file.py
  hidock-desktop-app/gui_auxiliary.py
  hidock-desktop-app/gui_main_window.py
  hidock-desktop-app/hidock_device.py
  hidock-desktop-app/hta_converter.py
  hidock-desktop-app/settings_window.py
  hidock-desktop-app/storage_management.py
  hidock-desktop-app/test_unified_interface.py
  hidock-desktop-app/tests/conftest.py
  hidock-desktop-app/tests/test_audio_player.py
  hidock-desktop-app/transcription_module.py
  hidock-web-app/.eslintrc.cjs
  hidock-web-app/src/components/EnhancedFileUpload/index.tsx
  hidock-web-app/src/components/FileManager/index.tsx
  hidock-web-app/src/components/StorageManager/index.tsx
  hidock-web-app/src/interfaces/deviceInterface.ts
  hidock-web-app/src/pages/Settings.tsx
  hidock-web-app/src/services/audioProcessingService.ts
  hidock-web-app/src/services/deviceService.ts
  hidock-web-app/src/test/deviceService.test.ts
  hidock-web-app/src/test/geminiService.test.ts
  hidock-web-app/src/utils/audioUtils.ts
Due: flake8-desktop-app, pytest-desktop-app, eslint-web-app, typescript-web-app, test-web-app

test: Comprehensive test of all hooks, builds, and tests
  .github/CONTRIBUTING.md
  test-commit.md
Due: none

docs: Comprehensive documentation update and standardization
  .claude/settings.local.json
  .github/SECURITY.md
  AGENT.md
  CONTRIBUTING.md
  DOCUMENTATION_INDEX.md
  QUICK_START.md
  README.md
  docs/DEVELOPMENT.md
  docs/PRE-COMMIT.md
  hidock-desktop-app/README.md
  test-commit.md
Due: none

purge: web apps
  .pre-commit-config.yaml
  AGENT.md
  cleanup.bat
  cleanup.sh
  setup-precommit.bat
  setup-precommit.sh
  setup-unix.sh
  setup-windows.bat
  setup.py
Due: none

fix: setup options
  setup.py
Due: none

fix: py version detection
  setup-unix.sh
Due: none

purge: log file
  hidock-desktop-app/flake8_issues.txt
Due: none

fix: pre-commit
  .pre-commit-config.yaml
Due: none

enhance: format applied
  hidock-desktop-app/ai_service.py
  hidock-desktop-app/audio_player.py
  hidock-desktop-app/audio_player_enhanced.py
  hidock-desktop-app/audio_processing_advanced.py
  hidock-desktop-app/audio_visualization.py
  hidock-desktop-app/config_and_logger.py
  hidock-desktop-app/constants.py
  hidock-desktop-app/ctk_custom_widgets.py
  hidock-desktop-app/desktop_device_adapter.py
  hidock-desktop-app/device_interface.py
  hidock-desktop-app/enhanced_device_selector.py
  hidock-desktop-app/enhanced_gui_integration.py
  hidock-desktop-app/file_operations_manager.py
  hidock-desktop-app/gui_actions_device.py
  hidock-desktop-app/gui_actions_file.py
  hidock-desktop-app/gui_auxiliary.py
  hidock-desktop-app/gui_event_handlers.py
  hidock-desktop-app/gui_main_window.py
  hidock-desktop-app/gui_treeview.py
  hidock-desktop-app/hidock_device.py
  hidock-desktop-app/hta_converter.py
  hidock-desktop-app/main.py
  hidock-desktop-app/settings_window.py
  hidock-desktop-app/storage_management.py
  hidock-desktop-app/test_unified_interface.py
  hidock-desktop-app/tests/conftest.py
  hidock-desktop-app/tests/test_audio_player.py
  hidock-desktop-app/tests/test_device_communication.py
  hidock-desktop-app/tests/test_gui_components.py
  hidock-desktop-app/tests/test_main.py
  hidock-desktop-app/tests/test_transcription.py
  hidock-desktop-app/transcription_module.py
  setup.py
Due: flake8-desktop-app, pytest-desktop-app

fix: unified hidock config json
  AGENT.md
  hidock-desktop-app/README.md
  hidock-desktop-app/docs/SECURITY_LIST.md
  hidock-desktop-app/hidock_config.json
  hidock-desktop-app/hidock_tool_config.json
  setup.py
Due: none

REWORK: first attempt to make it headless
  README.md
  docs/DEVELOPMENT.md
  docs/DevAgent.md
  docs/ROADMAP.md
  docs/TECHNICAL_SPECIFICATION.md
  docs/TESTING.md
  docs/TROUBLESHOOTING.md
  hidock-desktop-app/AGENT.md
  hidock-desktop-app/README.md
  hidock-desktop-app/audio_player.py
  hidock-desktop-app/audio_visualization.py
  hidock-desktop-app/config_and_logger.py
  hidock-desktop-app/ctk_custom_widgets.py
  hidock-desktop-app/docs/BUG_LIST.md
  hidock-desktop-app/docs/CodeReview.md
  hidock-desktop-app/docs/test_coverage.md
  hidock-desktop-app/enhanced_device_selector.py
  hidock-desktop-app/enhanced_gui_integration.py
  hidock-desktop-app/gui_actions_device.py
  hidock-desktop-app/gui_actions_file.py
  hidock-desktop-app/gui_auxiliary.py
  hidock-desktop-app/gui_event_handlers.py
  hidock-desktop-app/gui_main_window.py
  hidock-desktop-app/gui_treeview.py
  hidock-desktop-app/pyproject.toml
  hidock-desktop-app/requirements.txt
  hidock-desktop-app/settings_window.py
  hidock-desktop-app/tests/test_audio_player.py
  hidock-desktop-app/tests/test_gui_components.py
  hidock-desktop-app/tests/test_main.py
  setup.py
Due: flake8-desktop-app, pytest-desktop-app

enhance: format applied
  hidock-desktop-app/gui_actions_device.py
  hidock-desktop-app/gui_actions_file.py
  hidock-desktop-app/gui_auxiliary.py
  hidock-desktop-app/gui_main_window.py
  hidock-desktop-app/settings_window.py
  hidock-desktop-app/tests/test_device_communication.py
  hidock-desktop-app/tests/test_file_operations.py
Due: flake8-desktop-app, pytest-desktop-app

enhance: platform detection
  hidock-desktop-app/gui_actions_device.py
  setup.py
Due: flake8-desktop-app, pytest-desktop-app

fix: hidock.p1 storage
  hidock-desktop-app/device_interface.py
Due: flake8-desktop-app, pytest-desktop-app

fix: rework major fixes
  hidock-desktop-app/ai_service.py
  hidock-desktop-app/device_actions_mixin.py
  hidock-desktop-app/device_interface.py
  hidock-desktop-app/enhanced_device_selector.py
  hidock-desktop-app/file_actions_mixin.py
  hidock-desktop-app/gui_auxiliary.py
  hidock-desktop-app/hidock_cli.py
  hidock-desktop-app/hidock_config.json
  hidock-desktop-app/main.py
  hidock-desktop-app/settings_window.py
  setup.py
Due: flake8-desktop-app, pytest-desktop-app

fix: product ids weird standard
  docs/TECHNICAL_SPECIFICATION.md
  hidock-desktop-app/constants.py
  hidock-desktop-app/desktop_device_adapter.py
  hidock-desktop-app/device_interface.py
  hidock-desktop-app/docs/BUG_LIST.md
  hidock-desktop-app/hidock_config.json
Due: flake8-desktop-app, pytest-desktop-app

fix: rework major fixes
  hidock-desktop-app/device_actions_mixin.py
  hidock-desktop-app/file_operations_manager.py
  hidock-desktop-app/hidock_cli.py
  hidock-desktop-app/main.py
  hidock-desktop-app/settings_window.py
  hidock-desktop-app/tree_view_mixin.py
Due: flake8-desktop-app, pytest-desktop-app

enhance: format applied
  hidock-desktop-app/device_actions_mixin.py
  hidock-desktop-app/tests/test_device_communication.py
  hidock-desktop-app/tests/test_file_operations.py
Due: flake8-desktop-app, pytest-desktop-app

enhance: format applied
  hidock-desktop-app/hidock_cli.py
Due: flake8-desktop-app, pytest-desktop-app

Path conditions:
  flake8-desktop-app: any of: ^hidock-desktop-app/.*\.py$
  pytest-desktop-app: any of: ^hidock-desktop-app/.*\.py$
  eslint-web-app: any of: ^hidock-web-app/.*\.(ts|tsx|js|jsx)$
  eslint-audio-insights: any of: ^audio-insights-extractor/.*\.(ts|tsx|js|jsx)$
  typescript-web-app: any of: ^hidock-web-app/.*\.(ts|tsx)$
  test-web-app: any of: ^hidock-web-app/.*\.(ts|tsx|js|jsx)$
